[mysqld]
# GTID:
server_id=101
gtid_mode=on
enforce_gtid_consistency=on

# binlog
log_bin=master-binlog        #Specifies the base name to use for binary log files
log-slave-updates=1
binlog_format=row

# relay log
skip_slave_start=1

# duration
# For the greatest possible durability and consistency in a replication setup using InnoDB with transaction
# enabled by default in 8.0
innodb_flush_log_at_trx_commit=1
sync_binlog=1

# audit log
## https://www.cnblogs.com/wclwcw/p/6933294.html
server_audit_events='CONNECT,QUERY,TABLE,QUERY_DDL,QUERY_DML,QUERY_DCL'
server_audit_logging=on
server_audit_file_path =/data/mysql/logs/
server_audit_file_rotate_size=20000000
server_audit_file_rotations=10
server_audit_file_rotate_now=ON

# general log
general_log        = 1
general_log_file   = /data/mysql/logs/mysql_general.log

# error log
log_error = /data/mysql/logs/error.log
